@import 'bootstrap';
@import 'bootstrap/theme';
@import 'plans';
@import 'trips';

// FONTS AVAILABLE //
// font-family: 'Homemade Apple', cursive;
// font-family: 'Raleway', sans-serif;

body {
  background-attachment: fixed;
  background-color: rgba(68, 124, 147, 1);
  // background-image: url('http://i.imgur.com/LhNbtak.jpg');
  // background-image: url('http://i.imgur.com/46lkfaP.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}

.container-fluid {
  padding: 0px !important;
}

.app-title {
  font-family: 'Homemade Apple', cursive;
  text-align: center;
  border-bottom: 3px solid white;
  margin-bottom: 1%
}

nav {
  border-radius: 0px !important;
  padding: 1px;
}

h1 {
  color: white;
  font-size: 90px;
  margin-top: 3%;
}

.back {
  color: white;
}

@media (max-width: 600px) {
  h1 {
    font-size: 45px;
    margin-top: 10%;
  }

}
