.trip-header {
  color: white;
}

.plans-list {
  overflow: auto;
  height: 65vh;
}

.trip-plan {
  background-color: black;
  border: 5px solid rgba(255, 255, 255, 1);
  color: white;
  margin: 5%;
}

.trip-plan-important {
  border: 5px solid red;
}

.trip-plan-strict {
  background-color: rgba(0, 128, 128, 0.6);
}
