.trip-header {
  color: white;
  margin-top: 3%;
}

.trip-header-mobile {
  color: white;
  margin-bottom: 4%;
}

.plans-list {
  overflow: auto;
  height: 65vh;
}

.trip-plan {
  background-color: rgba(255, 255, 255, 0.4);
  border: 5px solid rgba(255, 255, 255, 1);
  color: white;
  margin: 5%;
  border-radius: 25%;
}

.trip-plan-important {
  border: 5px solid red;
  border-radius: 25%
}

.trip-plan-strict {
  background-color: rgba(0, 128, 128, 0.4);
}

@media (max-width: 1000px) {
  .plans-list {
    // overflow: visible;
  }

  .trip-plan {
    margin: 2%;;
  }

  .trip-header-desktop {
    display: none;
  }
}

@media (min-width: 1000px) {
  .trip-header-mobile {
    display: none;
  }
}
