<div class="col-md-6 col-md-offset-3">
  <h3>Welcome to For Travellers</h3>
  <h4>
    For Travellers is a travel itinerary app that allows you to plan out trips in
    with friends and family.
  </h4>
  <h4>
    With For Travellers we can more effeciently plan our
    trips and be sure to forget any important stops we want to make while exploring
    a new place!
  </h4>
  <h4>
    This app was built with Ember.js and Ruby on Rails
  </h4>   
  <h4 class="example">
    If you are interested in seeing how the app works sign in as
    <br>
    <br>
    Username: "example" <br>
    Password: "example" <br>
    <br>
    <br>
    and click "My Trips" at the top of the page!
  </h4>
</div>
