<h3 class="trip-header">{{trip.location}}</h3>
<h4>{{trip.who}}</h4>
<h4 class="trip-subheader">{{trip.more_info}}</h4>
<ul>
  {{#each trip.plans as |plan|}}
    {{trips-list/plan plan=plan toggleImportant='togglePlanImportant'
                                toggleStrict='togglePlanStrict'
                                delete='deletePlan'}}
  {{/each}}
</ul>

{{#link-to 'trips'}}Back{{/link-to}}
